<launch>

  <arg name= "z" default="0.0" />

  <arg name= "x_1" default="10.0" />
  <arg name= "y_1" default="0.0" />
  <arg name= "robot_name_1" default="LandMark1" />
  <param name="robot_description_1" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark1.xacro"/>

  <arg name= "x_2" default="10.0" />
  <arg name= "y_2" default="0.0" />
  <arg name= "robot_name_2" default="LandMark2" />
  <param name="robot_description_2" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark2.xacro"/>

  <arg name= "x_3" default="10.0" />
  <arg name= "y_3" default="0.0" />
  <arg name= "robot_name_3" default="LandMark3" />
  <param name="robot_description_3" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark3.xacro"/>

  <arg name= "x_4" default="10.0" />
  <arg name= "y_4" default="0.0" />
  <arg name= "robot_name_4" default="LandMark4" />
  <param name="robot_description_4" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark4.xacro"/>

  <arg name= "x_5" default="10.0" />
  <arg name= "y_5" default="0.0" />
  <arg name= "robot_name_5" default="LandMark5" />
  <param name="robot_description_5" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark5.xacro"/>

  <arg name= "x_6" default="10.0" />
  <arg name= "y_6" default="0.0" />
  <arg name= "robot_name_6" default="LandMark6" />
  <param name="robot_description_6" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark6.xacro"/>

  <arg name= "x_7" default="10.0" />
  <arg name= "y_7" default="0.0" />
  <arg name= "robot_name_7" default="LandMark7" />
  <param name="robot_description_7" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark7.xacro"/>

  <arg name= "x_8" default="10.0" />
  <arg name= "y_8" default="0.0" />
  <arg name= "robot_name_8" default="LandMark8" />
  <param name="robot_description_8" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark8.xacro"/>

  <arg name= "x_9" default="10.0" />
  <arg name= "y_9" default="0.0" />
  <arg name= "robot_name_9" default="LandMark9" />
  <param name="robot_description_9" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark9.xacro"/>

  <arg name= "x_10" default="10.0" />
  <arg name= "y_10" default="0.0" />
  <arg name= "robot_name_10" default="LandMark10" />
  <param name="robot_description_10" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark10.xacro"/>

  <arg name= "x_11" default="10.0" />
  <arg name= "y_11" default="0.0" />
  <arg name= "robot_name_10" default="LandMark11" />
  <param name="robot_description_11" command="$(find xacro)/xacro $(find LandMark_description)/urdf/LandMark11.xacro"/>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn= "false" output= "screen"
  args="-urdf -x $(arg x_1) -y $(arg y_1) -z $(arg z) -model $(arg robot_name_1) -param robot_description_1"/>

</launch>

