<launch>

<rosparam file="$(find ERC22_URDF_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" 
args="ERC22_URDF/S_LF_position_controller 
ERC22_URDF/S_LB_position_controller 
ERC22_URDF/S_RF_position_controller 
ERC22_URDF/S_RB_position_controller 
ERC22_URDF/W_LB_velocity_controller 
ERC22_URDF/W_LM_velocity_controller 
ERC22_URDF/W_LF_velocity_controller 
ERC22_URDF/W_RF_velocity_controller 
ERC22_URDF/W_RM_velocity_controller 
ERC22_URDF/W_RB_velocity_controller
ERC22_URDF/L_DS_position_controller
ERC22_URDF/R_DS_position_controller
ERC22_URDF/joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/ERC22_URDF/joint_states"/>
</node>

</launch>

